@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* RESET CƠ BẢN */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* NỀN */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(240, 242, 245);
}

/* KHUNG NGOÀI */
.container {
  width: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  text-align: center;
  overflow: hidden;
}

/* TIÊU ĐỀ */
.headline {
  padding: 15px;
  border-bottom: 2px solid rgb(240, 242, 245);
}

h1 {
  font-size: 1.4em;
  margin: 10px 0;
  color: #333;
}

/* FORM */
.form-register {
  padding: 20px;
  text-align: left;
}

/* HỌ & TÊN */
.full-name {
  display: flex;
  justify-content: space-between;
  gap: 4%;
}

.full-name input {
  width: 100%;
  border: 1px solid rgb(204, 208, 213);
  border-radius: 5px;
  padding: 10px;
}

/* EMAIL + MẬT KHẨU */
.email,
.password {
  margin-top: 10px;
}

.email input,
.password input {
  width: 100%;
  border: 1px solid rgb(204, 208, 213);
  border-radius: 5px;
  padding: 10px;
}

/* NGÀY SINH */
.birthday {
  margin-top: 15px;
}

.font-sub {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 5px;
}

.c-birthday {
  display: flex;
  justify-content: space-between;
  gap: 8px; /* khoảng cách đều giữa các ô */
}

.c-birthday div {
  flex: 1; /* cho các ô chia đều độ rộng */
}

.c-birthday select {
  width: 100%;
  border: 1px solid rgb(204, 208, 213);
  border-radius: 5px;
  padding: 10px;
}

.c-birthday.month {
  width: 100%;
}

.c-birthday select {
  width: 100%;
  border: 1px solid rgb(204, 208, 213);
  border-radius: 5px;
  padding: 10px;
}

/* GIỚI TÍNH */
.sex {
  margin-top: 15px;
}

.f-sex {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.f-sex div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(204, 208, 213);
  border-radius: 5px;
  padding: 8px 12px;
}

/* NÚT ĐĂNG KÝ */
.btn-register {
  margin-top: 20px;
  text-align: center;
}

.btn-register button {
  width: 100%;
  padding: 10px;
  background-color: #42b72a;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-register button:hover {
  background-color: #36a420;
}
